.App {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  background-color: rgb(21, 192, 178);
}

.search {
  width: 80vw;
  padding: 1vh 0 1vh 1vw;
  margin-bottom: 1vh;
  transform: translate(center);
  background: #cd595a;
  border-radius: 50px;
  
}